 {
	 "plugins": [
		 ["import", [{ "libraryName": "antd", "style": true }]],
		 [
			 "transform-runtime",
			 {
	           "helpers": false,
	           "polyfill": false,
	           "regenerator": true,
	           "moduleName": "babel-runtime"
	         }
		 ]
	 ],
	 "env": {
		"production": {
			"presets": [
				["env", {
		        	"targets": {
		          		"browsers": ["last 2 versions", "ie > 7"]
		  			}
		      	}],
				"react",
	   		 	"stage-1"
			]
		},
		"development": {
			"presets": [
				["env", {
					"modules": false
				}],
				"react",
	   		 	"stage-1"
			],
			"plugins": ["react-hot-loader/babel"]
		},
		"test": {
			"presets": [
				["env"],
				"react",
	   		 	"stage-1"
			],
			"plugins": [
				[
					"transform-runtime",
	   			 {
	   	           "helpers": true,
	   	           "polyfill": true,
	   	           "regenerator": true,
	   	           "moduleName": "babel-runtime"
	   	         }
				]
			]
		},
	 }
 }
