 {
	 "presets": [
		 "react",
		 "stage-2",
	 ],
	 "plugins": [
		 [
			 "transform-runtime",
			 {
	           "helpers": false,
	           "polyfill": false,
	           "regenerator": true,
	           "moduleName": "babel-runtime"
	         }
		 ]
	 ],
	 "env": {
		"production": {
			"presets": [
				["env", {
		        	"targets": {
		          		"browsers": ["last 2 versions", "ie > 7"]
		  			}
		      	}]
			]
		},
		"development": {
			"presets": [
				["env", {
					"modules": false
				}]
			],
			"plugins": ["react-hot-loader/babel"]
		}
	 }
 }
