{
  "env": {
  	"production": {
	  	"presets": [
			"react",
			"stage-2",
		  	["env", {
	        	"targets": {
	          		"browsers": ["last 2 versions", "ie > 7"]
	  			},
	      	}],
	  	],
		"plugins": [[
	    "transform-runtime",
	    {
	      "helpers": false,
	      "polyfill": false,
	      "regenerator": true,
	      "moduleName": "babel-runtime"
	    }
	  ]]
	},
    "development": {
		"presets": [
			"react",
			"stage-2",
	  	  ["env", {
	  		"modules": false
	  	  }],
	    ],
	"plugins": [[
      "transform-runtime",
	  "react-hot-loader/babel",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]]
  },
  }
 }
