.button-style {
	display: flex;
}
.entry-body {
	position: absolute;
	width: 100%;
	height: 100%;
	// background: #337;
	// color: inherit;
	// overflow: hidden;
	// background-size: cover;
	// background-position: center center;
	// z-index: 1;
	// background-image: url('../../Svg/colour.svg');
}

.app-header {
	background-color: #fff;
	box-shadow: 0 2px 8px #f0f1f2;
	position: relative;
	z-index: 10;
}
